*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/* webkit solution */
/* latin */

.wrapper {
    text-align: center;
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    src: local('Nunito-Light'), url(http://fonts.gstatic.com/s/nunito/v7/1TiHc9yag0wq3lDO9cw0vltXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */a

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito-Regular'), url(http://fonts.gstatic.com/s/nunito/v7/cSNs3NwpEgPVRQzvkh3NeQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
}

form {
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
}

h1 {
    margin: 0 0 30px 0;
    text-align: center;
}

textarea,
select {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 10px;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0 4px 8px 0;
}

select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
}

button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 10px;
}

input {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #3B5998;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 50%;
    border: 1px solid #3ac162;
    margin-bottom: 10px;
}

fieldset {
    margin-bottom: 30px;
    border: none;
}

legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
}

label.light {
    font-weight: 300;
    display: inline;
}

.number {
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 100%;
}

@media screen and (min-width: 480px) {
    form {
        max-width: 480px;
    }
}
/*Insert here*/



ul {
	list-style: none;
}
li {
	text-decoration: none;
	margin:10px;
	padding: 10px;
}

.dropdown {
	margin-right: 3px;
	/*z-index: 999;*/
	position: absolute;
	top: 115px;
	padding-left: 0;
	box-shadow: 1px 1px 10px ;
  /*dropdow is hidden by default*/
	display: none; 
}

.wrapper {
	background: #d7ff99;
	padding: 3px 15px;
	border-radius: 4px;
	width: 100px;
}
.dropdown li {
	
	border: 0px;
	font-size: 0.9em;
	width:100px;
	margin: 0px;
	background: white;
}

li:hover {
	background: #ECEEF0;
}
/*disable hover effect when li tag is selected*/
.selected, .selected:hover {
	background: #FFDEAD;
}

.correct, .correct:hover {
	background: #9ACD32;
	color: white;
}

.wrong, .wrong:hover {
	background: red;
	color: white;
}

.submit {
	color: white;
	background: #2DB82D;
}
.next {
	background: #B0C4DE;
}
.finalize {
	background: #1A1AFF;
}
.back {
	background: #ffff33;
}
.doNotDisplay {
	display: none;
}

td,th {
	border:1px solid lightgray;
	padding: 10px;
	text-transform: uppercase;
	font-weight: 700;
	/*font-size:14px;*/
}

th {
	border-bottom:3px solid gray;
	background: #C2CCE0;
}

table {
	border:2px solid gray;
	border-spacing: 0px;
	border-collapse: collapse;
}

td {
	cursor:pointer;
}

.questionCol {
	color: #5b666f;
}
.correctCol {
	color: #6a9d21;
}
.wrongCol {
	color: #9d2138;
}
.pAboveTable {
	font-size: 1.4em;
}
/*tr {
	cursor:pointer;
}*/

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}